<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIM_4_Desktop.Properties.Settings.BD_AlucarConnectionString"
            connectionString="Data Source=DESKTOP-NGTV0A3\SQLEXPRESS;Initial Catalog=BD_Alucar;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>